// Navbar

.custom-toggler.navbar-toggler {
  background-color: $white-1;
}

$navbar-dark-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$main-green}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/></svg>");

// Display Heading

$display-font-sizes: (
  0: 6rem,
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem,
);

// Buttons

$btn-padding-y-lg: 15px;
$btn-padding-x-lg: 20px;