.header{
    width: 100%;
    color: $light;
    position: fixed;

    &__contact{
        background-color: $accent-color;
        display: flex;
        font-size: 0.875rem;
        font-weight: 500;
        padding: 10px 10vw;
        justify-content: space-between;
        align-items: center;

        &__info > p{
            display: inline-block;
            margin: 0 0.9375em;
            text-align: right;

            &:last-child{
                margin-right: 0;
            }
            
            & a{
                text-decoration: underline;
            }
        }
    }

    &__menu{
        background-color: $primary-color;
        display: flex;
        padding: 20px 10vw;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &__nav{
            display: flex;

            & > a{
                max-width: 220px;
                min-width: 175px;
                position: absolute;
            }

            &__list{
                margin-left: 250px;

                & li{
                    display: inline-block;
                    margin: 0 1vw;

                    &:first-of-type{
                        margin-left: 0;
                    }

                    &:last-of-type{
                        margin-right: 0;
                    }
                }
            }
        }

        &__user{
            display: flex;

            &__cart,
            &__profile,
            &__search{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: $light;

                & svg{
                    margin: auto;
                    max-width: 20px;
                }
            }

            &__cart{
                margin: 0 20px;
            }

        }
    }
}