.hero{
    overflow: hidden;
    background-image: url("../../../public/images/locaux.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80% 40%;
    @include grid-layout;
    @include padding(200px,100px);


    &__desc{

        grid-area: 2 / 2 / 3 / 8;
        align-self: center;
        color: $light;
        text-align: right;
        
        &__title{

            font-size: 5rem;
        
        }
    }

    &__img{
        grid-area: 2 / -1 / 3 / -5;
        width: fit-content;
        align-self: center;
    
    }
}